body {
    background-color: #1F2937;
    color: white;
}

.heading {
    text-align: center;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.gridBackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34vw;
    height: 34vw;
    background-color: #171f2a;
    border-radius: 20px;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;;
    align-items: center;
}

.clearGrid {
    width: 97px;
    margin: 20px 0;
}

.controls-size {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls p {
    margin: 0;
}

.slider {
    width: 250px;
    margin: 5px 0px;
}

button {
    width: 100px;
}

.gridContainer {
    display: grid;
    width: 30vw;
    height: 30vw;
    box-sizing: content-box;
}

.gridContainer div {
    background-color: white;
    margin: 0;
    padding: 0;
}
